body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    text-align: center;
    margin: 20px auto;   
    background: #f8df84;
}

#header {
    height: 250px;
    background: #f8df84;
}

#widgetBar {
    height: 50px;
    width: 1000px;
    float: right;
    background: #484848;
}

.headerWidget {
    width: 150px;
    margin: 20px 5px;
    font-size: small;
    float: right;
    line-height: 25px;
    background: #f8df84;
}

/*footer style */
#footer {
    height: 60px;
    clear: left;
    background: #f8df84;
}

.header {background-color: #F08080; text-align:left; padding:15px;}
.headerImg {float: left; width:200px;}
.headerSearch {float: right; width:200px;padding-top:175px; padding-left:25px; padding-right: 10px;}
.headerText {float: left; height:105px; padding-top:150px; padding-left:50px;}